<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alienware.primerproyecto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PantallaInicio"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrarUsuarioActivity" />
        <activity
            android:theme="@style/SplashScreen"
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrarUsuarioActivity" />
        <activity android:name=".Activity_Buscar" />
        <activity android:name=".Activity_lista_Buscar" />
        <activity android:name=".Activity_Categorias" />
        <activity
            android:name=".Activity_misArticulos"
            android:label="@string/title_activity_mis_articulos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Registro_Articulo"
            android:label="@string/title_activity_registro__articulo"
            android:theme="@style/AppTheme" />
        <activity android:name=".Vendedor"></activity>
        <activity android:name=".Usuario" />
        <activity android:name=".Producto"></activity>
    </application>

</manifest>